

.hidden {
  display: none !important;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.15;
  background: rgb(20,20,20);
}

#canvas {
  position: absolute;
  top: 0;
  z-index: 1001;
}

#overlay {
  position: absolute;
  top: 0;
  width: 1200px;
  height: 650px;
  background-color: rgba(0,0,0, 0.6);
  z-index: 1000;
}

#ui-canvas {
  /* margin-top: 50px; */
  position: absolute;
  top: 0;
  /* color: white;
  font-size: 20px; */
}
#terrain-canvas {
  /* margin-top: 50px; */
  position: absolute;
  top: 0;
  /* color: white;
  font-size: 20px; */
}
#text-canvas {
  /* margin-top: 50px; */
  position: absolute;
  top: 0;
  /* color: white;
  font-size: 20px; */
}


.main {
  position: relative;
  top: 30px;
  height: 650px;
  width: 1200px;
  background: linear-gradient(blue, orange);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-ui {
  position: relative;
  box-sizing: border-box;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display:flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute;
  bottom: -55px;
  left: 0; */
  width: 1200px;
  height: 90px;
  background: rgb(11, 165, 225);
  padding: 10px 10px;
  top: 30px;
  z-index: 9000;
  font-size: 18px;
  color: white;
}


#angle-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 50px;
  margin: 3px;
  text-align: center;
}
#angle-display {
  color: yellow;
  font-weight: bold;
  padding-bottom: 2px;
  width: 40px;
  height: 20px;
  background-color: rgb(60, 60, 60);
  border: 3px solid black;
  margin: 5px;
}

.shot-selector-container {
  display: flex;
}
.shot-selector span {
  margin-top: 2px;
}
.shot-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-shadow: 0 0 1px black;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 0 5px #000;
  padding: 2px;
  text-align: center;
  margin: 3px;
  width: 30px;
  height: 50px;
  background-color: rgb(41, 205, 255);
}
#ss {
  background-color: rgb(246, 216, 89);
}

.light {
  width: 14px;
  height: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: rgb(60,60,60);
  /* background-color: rgb(0,255,0); */
}

#power-container {
  background: black;
  width: 1000px;
  height: 50px;
  /* box-sizing: border-box; */
  border: 4px solid black;

}

#power-fill {
  position: relative;
  background: red;
  width: 5px;
  height: 50px;
  box-sizing: border-box;
}

#one-fourth {
  position: relative;
  left: 0;
  border-right: 1px solid gray;
  height: 50px;
  width: 250px;
}
#two-fourth {
  position: relative;
  top: -50px;
  left: 250px;
  border-right: 1px solid gray;
  height: 50px;
  width: 250px;
}
#three-fourth {
  position: relative;
  top: -100px;
  left: 500px;
  border-right: 1px solid gray;
  height: 50px;
  width: 250px;
}
#four-fourth {
  position: relative;
  top: -150px;
  left: 750px;
  border-right: 1px solid gray;
  height: 50px;
  width: 250px;
}

#one-eighth {
  position: relative;
  left: 0;
  border-right: 1px solid gray;
  height: 10px;
  width: 125px;
}
#three-eighth {
  position: relative;
  top: 0px;
  border-right: 1px solid gray;
  height: 10px;
  width: 125px;
}
#five-eighth {
  position: relative;
  top: 0px;
  border-right: 1px solid gray;
  height: 10px;
  width: 125px;
}
#seven-eighth {
  position: relative;
  top: 0px;
  border-right: 1px solid gray;
  height: 10px;
  width: 125px;
}
#prev-power {
  position:absolute;
  top: 0;
  width: 1px;
  height: 50px;
  background: red;

}




#wind-container {
  position: relative;
  top: -700px;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  background: lightblue;
  z-index: 100;
}
#wind-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background: white;

}

#wind-text {
  position: relative;
  text-align: center;
  color: red;
  font-size: 30px;

}

#main-timer {
  color: red;
  font-size: 60px;
  position: relative;
  top: 13px;
  align-self: flex-end;
  margin-right: 30px;
}


#turn-queue-container {
  position: relative;
  left: -520px;
  bottom: 255px;
  padding: 5px;
  width: 150px;
  height: 120px;
  box-shadow: -2px 2px 5px black;
  background: rgb(41, 230, 245);
  border: 4px solid rgb(41, 205, 255);
  box-sizing: border-box;
  color: yellow;
  font-weight: bold;
  text-shadow: 0 0 2px black;
  z-index: 1000;
}
#turn-queue {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5px;
  margin: 5px 0 0 0;
}
#turn-queue li {
  font-weight: lighter;
}

#vol-container {
  position: relative;
  left: -560px;
  top: -880px;
  z-index: 10000;
  cursor: pointer;
}

.vol {
  height: 50px;
  width: 50px;
}

#directions-container {
  font-weight: 200;
  width: 300px;
  height: 200px;
  position: relative;
  top: -450px;
  left: 420px;
  color: white;
  font-size: 14px;
}


#item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  top: -1310px;
  left: 280px;
  background: rgb(41, 205, 255);
  width: 320px;
  height: 40px;
  padding: 5px;
}
.dualshot {
  border: 1px solid black;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 2px black;
}

h1 {
  color: red;
  font-size: 70px;
  font-weight: bold;
  position: relative;
  top: -1220px;
  right: 300px;
}
















